<div class="container">
    <h2>Editar Perfil</h2>
    <form class="animate__animated animate__bounceIn">
      <div class="form-group">
        <label for="preferencia">Preferencia:</label>
        <select class="form-control" id="preferencia" (change)="onPreferenceChange()">
          <option value="">Seleccione una preferencia</option>
          <option value="tecnologia">Tecnología</option>
          <option value="cultura">Cultura</option>
          <option value="deporte">Deporte</option>
        </select>
      </div>
      <div class="form-group" >
        <label for="categoria">Categoría:</label>
        <select class="form-control" id="categoria">
          <option value="">Seleccione una categoría</option>
          <ng-container >
            <option value="computacion">Computación</option>
            <option value="telefonia">Telefonía</option>
            <option value="internet">Internet</option>
          </ng-container>
          <ng-container>
            <option value="arte">Arte</option>
            <option value="musica">Música</option>
            <option value="literatura">Literatura</option>
          </ng-container>
          <ng-container >
            <option value="futbol">Fútbol</option>
            <option value="basket">Basket</option>
            <option value="tenis">Tenis</option>
          </ng-container>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
  </div>
  
